rastervision_pipeline==0.20-dev

# These 3 should be updated together to ensure compatibility. Incompatibility
# results in a warning about pygeos versions.
pygeos
shapely
geopandas

numpy
pillow
pyproj
rasterio
imageio
pystac
scikit-learn
scipy
opencv-python
opencv-python-headless
tqdm
